@media (max-width:1024px) {
    .header-back{
         height: 500px;
    }
    .header-logo{
        width: 170px;
    }
    .header-li{
        margin-right: 20px;
    }
    .header-nav-a{
        font-size: 22px;
    }
    .header-h2{
        font-size: 45px;
    }
    .header-p{
        font-size: 20px;
    }
    .section1-div2{
        width: 97%;
    }
    .container{
        justify-content: space-around;
    }
    .section4-background{
        height: 400px;
    }
    .section6-container{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .section6-wrapper{
        width: 40%;
        margin-top:20px;
    }
}
@media (max-width:768px) {
    .header-back{
        height: 350px;
    }
    .header-logo{
        width: 140px;
    }
    .navigation{
        flex-direction: column;
    }
    .header-ul{
        flex-direction: column;
        align-items: flex-end;
       padding: 0;
    }
    .header-li{
        margin-bottom: 10px;
    }
    .div-burgerbar{
        display: block;
    }
    .header-h2{
        font-size: 35px;
    }
    .header-p{
        font-size: 15px;
        margin-top:30px;
        margin-bottom: 30px;
    }
    .header-div{
        max-width: 400px;
        width: 100%;
        position: absolute;
        left: 10px;
        top:50px;
    }
    .header-small-div{
        width: 150px;
        height: 35px;
    }
    .small-div-a{
        font-size: 15px;
    }
    .section-text{
        text-align: center;
    }
    .section2-div{
        height: auto;
    }
    .section2-h2{
        font-size: 30px;
    }
    .section2-p{
        font-size: 20px;
    }
    .man{
        width:300px;
    }
    .section4-background{
        height: 350px;
    }
    .section4-div{
        top:50px;
        left:50px;
        width: 150px;
    }
    .section4-h3{
        font-size: 22px;
    }
    .date-div{
        width: 30px;
    }
    .section5-div{
        flex-direction: column;
    }
    .section5-image{
        margin-bottom: 20px;
    }
    .section7-container{
        flex-direction: column;
        align-items: center;
    }
    .contact-info{
        margin-top: 20px;
    }
    .form-heading{
        margin-top: 30px;
    }
    .footer-container{
        flex-wrap: wrap;
    }
    .footer-div{
        width: 48%;
    }
    .footer-div:nth-child(3){
        margin-top: 30px;
    }
    .footer-div-2{
        width: 48%;
    }
}
@media (max-width:480px){
    .header-logo{
        width: 110px;
    }
    .header-nav-a{
        font-size: 17px;
    }
    .header-div{
        max-width: 250px;
        width: 100%;
        left: 0;
    }
    .header-h2{
        font-size: 27px;
    }
    .header-p{
        font-size: 13px;
        width:150px;
    }
    .header-button{
        width: 120px;
        height: 35px;
        font-size: 15px;
    }
    .section-div{
        margin-top: 40px;
    }
    .section1-brush{
        width: 100%;
    }
    .section1-div2{
        flex-wrap: wrap;
        margin-top:40px;
    }
    .section1-smalldiv{
        width: 48%;
        margin-bottom: 15px;
    }
    .section2{
        flex-direction: column;
    }
    .section4-background{
        height: 250px;
    }
    .section4-div{
        top:25px;
        left:25px;
    }
    .date-div{
        width: 25px;
        height: 25px;
    }
    .date-h6{
        font-size: 15px;
    }
    .section6-wrapper{
        width: 80%;
    }
    .contact-info{
       font-size:25px; 
    }
    .form-heading{
        font-size: 25px;
    }
    .map-div{
        height: auto;
    }
    .map{
        height: auto;
    }
    .footer-container{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer-div{
        width: 70%;
    }
    .logo{
        width: 170px;
    }
    .footer-div:nth-child(2){
        margin-top: 30px;
    }
    .footer-div-2{
        width: 70%;
        margin-top: 30px;
    }
}