.header-back {
    background-image: url(../images/header-background-image.jpg);
    width:100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: tomato; */
    margin: 0 auto;
    padding-top: 10px;
    padding-left: 30px;
}
/* .header-nav{
    background-color: turquoise;
} */
.header-ul{
    display: flex;
    justify-content: space-between;
}
.header-li{
    margin-right: 30px;
}
.header-nav-a{
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.div-burgerbar{
    color: #FFFFFF;
    font-size: 30px;
    position: absolute;
    top:50px;
    right: 40px;
    display: none;
}
.header-div{
    display: flex;
    flex-direction: column;
    width: 500px;
    /* background-color: thistle; */
    margin-top: 100px;
    margin-left: 30px;
}
.header-h2{
    font-size: 60px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.header-p{
    font-size: 30px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header-small-div{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #FFAA00;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.small-div-a{
    font-size: 20px;
    color:#A80E0E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: royalblue; */
}
.section1-div1{
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:70px;
}
.section1-heading{
    font-size: 30px;
    color: #A80E0E;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
}
.section1-text{
    font-size: 17px;
    color:#382E36;
    font-family: 'Montserrat', sans-serif;
    margin-top:20px;
}
.section1-div2{
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-top:70px;
    margin-bottom: 70px;
}
.section1-smalldiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section1-h5{
    font-size: 15px;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top:20px;
}
.burger {
     width: 90px;
}
.pizza{
    width: 100px;
}
.fries{
    width: 90px;
}
.cake{
    width: 60px;
}
.sandwich{
    width: 100px;
}
